/Recursos/Semana 02/pyFormato12/nbproject/private/
/Recursos/Semana 02/pyFormato12/build/
/Recursos/Semana 02/pyCajero/nbproject/private/
/Recursos/Semana 02/pyCajero/build/
/Recursos/Semana 02/pyReproduccionesYoutube/nbproject/private/
/Recursos/Semana 02/pyReproduccionesYoutube/build/